# === GLOBAL ===
.DS_Store
Thumbs.db
*.log
*.tmp
.env

# === FRONTEND (Angular) ===
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.env
/frontend/src/environments/environment.ts
/frontend/src/environments/environment.prod.ts
node_modules/

# IDE & editor settings (optional but recommended)
.vscode/
.idea/
.github/

# === BACKEND (Spring Boot - Maven) ===
/backend/target/
/backend/.env
/backend/.settings/
/backend/.classpath
/backend/.project

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
