.home-bakground {
    /* TODO add a background image */
    /*background-image: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=516,h=344,fit=crop/A3QJRDPk4kCE2XaQ/salle-de-casino-opulente-et-a-c-la-c-gante-Yg2jv7lwWZsEj99a.png');
    */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
