<!-- main container with full screen height and centered content -->
<div class="min-h-screen flex justify-center items-center bg-gray-900 text-white">
  <!-- login form card -->
  <div class="max-w-md w-full bg-gray-800 p-8 rounded-lg shadow-lg">

    <!-- title -->
    <h3 class="text-3xl font-bold text-center mb-6">Connexion</h3>

    <!-- login form -->
    <form (submit)="handleLogin($event)">

      <!-- success message shown after login -->
      <div *ngIf="loginSuccess"
        class="mb-4 p-2 text-green-800 bg-green-200 rounded border border-green-400 flex items-center space-x-2 justify-center">
        <i class="fas fa-exclamation-circle"></i>
        <p>Connexion réussie !</p>
      </div>

      <!-- error message shown on login failure -->
      <div *ngIf="loginError"
        class="mb-4 p-2 text-red-800 bg-red-200 rounded border border-red-400 flex items-center space-x-2 justify-center">
        <i class="fas fa-check-circle"></i>
        <p>{{ loginError }}</p>
      </div>

      <!-- username input -->
      <label class="block mb-2 text-sm">Nom d'utilisateur</label>
      <input type="username" class="w-full p-2 bg-gray-700 border border-gray-600 mb-4 rounded" [(ngModel)]="username"
        name="username" required />

      <!-- password input -->
      <label class="block mb-2 text-sm">Mot de passe</label>
      <input type="password" class="w-full p-2 bg-gray-700 border border-gray-600 mb-6 rounded" [(ngModel)]="password"
        name="password" required />

      <!-- submit button -->
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded">
        Se connecter
      </button>

      <!-- button to navigate back to home -->
      <button type="button" class="mt-4 w-full text-sm text-gray-400 hover:underline" (click)="navService.goTo('home')">
        ⬅️ Retour à l'accueil
      </button>
    </form>
  </div>
</div>