/**
 * CSS file global to the whole application
 */

 .roulette {
  width: 80px;
  height: 80px;
  border: 8px solid #facc15; /* jaune */
  border-top: 8px solid #ef4444; /* rouge */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* to make the text unselectable (on the full app) */
.not-selectable {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

/* to make the text selectable */
.selectable {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
